<div class="root">
  <div class="max-size-wrapper">
    <div class="welcome-to" style="text-align: center;">
      <span class="slimblue em2">WELCOME TO</span>
    </div>
    <div>
      <span class="boldred em3">OTIOM</span>
    </div>
    <div class="plan-future">
      <div class="your-plan">
        <span class="slimblue em2">YOUR PLAN.&nbsp;</span>
      </div>
      <div class="your-future">
        <span class="boldred em2">YOUR FUTURE.</span>
      </div>
    </div>
    <div class="main-text">
<!--      <span class="main-text2">Lorem Ipsum is slechts een proeftekst uit het drukkerij en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting.</span>-->
      <span class="main-text2">Our solution to tackle this problem is to create an enviroment where you can share, make or find personalized modular investment plans. To facilitate this we developed a manageable portfolio dashboard where our target audience will be guided through the proces by a simple questionnaire to invest with zero technical know-how and costs.</span>
    </div>
    <div class="getting-started">
      <span class="slimblue em2">GETTING STARTED WITH </span><span class="boldred em2">F.I.R.E</span><span class="boldblue em2"> HAS NEVER BEEN EASIER</span>
    </div>

    <div class="cards">
      <div class="single-card">
        <img src="assets/icons/edit-1.svg">
        <div class="card-text">
          <div>
            <span class="slimblue em1">Sign up</span>
          </div>
          <div class="extra-space">
            <span class="slimblue em1">&nbsp;</span>
          </div>
        </div>
      </div>
      <i class="material-icons">
        arrow_right_alt
      </i>
      <div class="single-card">
        <img src="assets/icons/list.svg">
        <div class="card-text">
          <div>
            <span class="slimblue em1">Find/Make</span>
          </div>
          <div>
            <span class="slimblue em1">your pension plan</span>
          </div>
        </div>
      </div>
      <i class="material-icons">
        arrow_right_alt
      </i>
      <div class="single-card">
        <img src="assets/icons/change.svg">
        <div class="card-text">
          <div>
            <span class="slimblue em1">Activate</span>
          </div>
          <div>
            <span class="slimblue em1">your pension plan</span>
          </div>
        </div>
      </div>
    </div>
    <button routerLink="/landing" color="warn">GET STARTED</button>

  </div>

</div>
