<div class="root" id="contract-overlay">
  <div class="content">

    <button mat-button (click)="hideOverlay()" class="close" style="border:none;">
      <i class="material-icons" style="color:black; border:none;">
        close
      </i>
    </button>

    <div class="top-row">
      <div class="info">
        <img class="newspaper-image" src="assets/icons/newspaper.svg">
        <div class="contract-info">
          <div class="title-stuff">
            <div class="bigFont">
              YOURCONTROL
            </div>
            <div class="smallFont">
              ALEJANDRO DRAKE
            </div>
            <div class="shutup">
              <button mat-flat-button color="warn">Innovation</button>
              <button mat-flat-button color="warn">Tech</button>
              <button mat-flat-button color="warn">Climate</button>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="greenButton">BUY THIS PLAN</button>
        <button class="blueButton">EDIT THIS PLAN</button>
      </div>

    </div>
    <section class="advice">
      <h2 style="text-align:center">Your pension is within grasp</h2>
      <p style="font-family: MR; font-size:16px;">In the last few days I’ve crossed $2.5M for the first time. The growth to this point has been unexpected, coinciding with moving from an engineering position to management about 9 years ago and a significant windfall from working at a pre-IPO company.
        Last fall I reached what I had set as my target FI number, $2.333M. I figured that this was enough to cover an anticipated $70k/year spend at a 3% WR (my spending has historically been around 35-40k, but I was accounting for things that aren’t included in that figure like new cars periodically, taxes, more frequent vacations, health insurance, and more for housing since my mortgage over the last ~10 years has been really cheap and I was in the process of selling my house at that time.)
      </p>
      <p style="text-align:center;">Just follow this plan and you too can be financially independent within a few years!</p>
    </section>
    <div class="totalContainerImages">
      <div class="imageContractContainer">
        <img src="assets/images/chart.png" class="chartImage" alt="">
        <img src="assets/images/statistics.png" class="statisticsImage" alt="">
      </div>
      <div class="investmentContainer">
        <img src="assets/images/investment_portfolio.png" class="investmentImage" alt="">
      </div>
    </div>

  </div>
</div>
