<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" id="search-input" placeholder="Search">
</mat-form-field>
<table mat-table [dataSource]="dataSource" id="main-table" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="name" class="headerColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell (click)="cellClicked()" *matCellDef="let contract"><span class="mobile-label">Name: </span> {{contract.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="investors" class="headerColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> investors </th>
    <td mat-cell (click)="cellClicked()" *matCellDef="let contract"><span class="mobile-label">Investors: </span>  {{contract.investors}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="risk" class="headerColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Risk </th>
    <td mat-cell (click)="cellClicked()" *matCellDef="let contract"><span class="mobile-label">Risk: </span>  {{contract.risk}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="compatibility" class="headerColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Compatibility </th>
    <td mat-cell (click)="cellClicked()" *matCellDef="let contract"><span class="mobile-label">Compatibility: </span>  {{contract.compatibility}}% </td>

  </ng-container>
  moneyMade
  <!-- Symbol Column -->
  <ng-container matColumnDef="profit" class="headerColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Profit </th>
    <td mat-cell (click)="cellClicked()" *matCellDef="let contract"><span class="mobile-label">Profit: </span> ${{(contract.moneyMade/100).toFixed(2)}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="period" class="headerColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Period </th>
    <td mat-cell (click)="cellClicked()" *matCellDef="let contract"><span class="mobile-label">Period: </span> {{contract.periodYears}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rowContractTable"></tr>
</table>
