table {
  width: 100%;
  background-color: #F7F7F7;
}

th.mat-sort-header-sorted {
  color: black;
}
.rowContractTable {
  cursor:pointer;
}

.rowContractTable:hover{
  background: #E2B53B;
}
.highlight {
  background: #1E4768;
}
