<div class="root" xmlns="http://www.w3.org/1999/html">
  <div class="container-blocks-stats">
    <mat-card>
      <img mat-card-image src="https://genesis.vision/api/v1.0/file/36dbb999-d80a-4fec-85c2-480eb3768009">
      <mat-card-title>Rating</mat-card-title>
      <mat-card-subtitle>The best pensions in their class</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <img mat-card-image src="https://genesis.vision/api/v1.0/file/36dbb999-d80a-4fec-85c2-480eb3768009">
      <mat-card-title>Rating</mat-card-title>
      <mat-card-subtitle>The best pensions in their class</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <img mat-card-image src="https://genesis.vision/api/v1.0/file/36dbb999-d80a-4fec-85c2-480eb3768009">
      <mat-card-title>Rating</mat-card-title>
      <mat-card-subtitle>The best pensions in their class</mat-card-subtitle>
    </mat-card>
  </div>
</div>
