<div class="root" xmlns="http://www.w3.org/1999/html">
  <div class="container-blocks-stats">
    <mat-card (click)="buttonClick.emit('rating')">
      <img mat-card-image src="assets/icons/presentation-4.svg">
      <mat-card-title>Rating</mat-card-title>
      <mat-card-subtitle>Canidates for the new top</mat-card-subtitle>
    </mat-card>
    <mat-card (click)="buttonClick.emit('top')">
      <img mat-card-image src="assets/icons/star.svg">
      <mat-card-title>Top</mat-card-title>
      <mat-card-subtitle>All time most profitable</mat-card-subtitle>
    </mat-card>
    <mat-card (click)="buttonClick.emit('new')">
      <img mat-card-image src="assets/icons/time.svg">
      <mat-card-title>New</mat-card-title>
      <mat-card-subtitle>Recent pensions</mat-card-subtitle>
    </mat-card>
    <mat-card (click)="buttonClick.emit('popular')">
      <img mat-card-image src="assets/icons/worldwide.svg">
      <mat-card-title>Popular</mat-card-title>
      <mat-card-subtitle>The biggest audience</mat-card-subtitle>
    </mat-card>
  </div>
</div>
